@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Neucha|Poiret+One');
#home{
  background-color: white;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/6f/c6/40/6fc6408a64c31025f9884c920487172f.jpg);
  /*position: absolute;*/
  margin-top: 3%;
  background-size: 40%;
  background-repeat: no-repeat;

}
#hometitle{
  display: flex;
  font-family: Poiret One;
  font-size: 1000%;
  white-space: nowrap;
  margin-left: 40%;
  margin-top: 8%;
  position: absolute;
  /*justify-content: center;*/
  color: black;
}
.logout{
  color: black;
  font-family: Poiret One;
  margin-left: 48%;
  position: fixed;
  margin-top: 25%;
  font-size: 150%
}
.logout a{
  color: black;
}
.login{
  color: black;
  font-family: Poiret One;
  margin-left: 54%;
  position: fixed;
  margin-top: 25%;
  font-size: 150%
}
.login a{
  color: black;
}
.links{
  font-family: Poiret One;
  display: flex;
  color: black;
  padding-left: 6%;
  white-space: nowrap;
  font-size: 150%;
  margin-left: 28%;
  margin-top: 7%
  /*justify-content: center;*/
}
.links a{
  padding-left: 10%;
  color: black;
}
#newfood{
  background-color: #DB7093;
  font-family: Poiret One;
}
#formheader{
  font-size: 600%;
  text-align: center;
  padding-bottom: 5%;
}
#foodname{
  font-size: 300%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}
#expd8{
  font-size: 300%;
  padding-right: 3%;
  text-align: center;
}
.navFood{
  font-family: Poiret One;
  display: flex;
  color: black;
  white-space: nowrap;
  font-size: 150%;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.navFood a {
  color: black;
  font-size: 100%;
  margin-right: 10%;
  padding-left: 10%;
}
#addPage{
  color: white;
}
#calendar{
  background-color: #f3e5ab;
  font-family: Poiret One;

}
#welcomeCal{
  font-size: 800%;
  text-align: center;
  margin-top: 2%;
}
#date{
  border-style: double;
  border-color: white;
  width: 15%;
  padding: 1%;
  font-size: 250%;
  border-spacing: 20%;
}
#item{
  font-size: 400%;
  text-align: center;
}
