<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="resources/colors.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="resources/script.js"></script>
    <title>My Calendar</title>
  </head>
  <body>
    Welcome {{ temp_user }}!<br>
    <ul>
      {% for food in food_list %}
      <li>
        <h4>Expiration date: {{food.month}}/{{food.day}}/{{food.year}}
</h4>
        Food Item: {{ food.foodname }}<br>
      </li>
      <hr>
      {% endfor %}

    </ul>
  </body>
</html>
