<!DOCTYPE html>
<html id = "calendar">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="resources/colors.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="resources/script.js"></script>
    <title>My Calendar</title>
  </head>
  <body>
  <div id = "welcomeCal">  Welcome!</div><br>
    <ul>
      {% for food in food_list %}
        <div id = "date"><h4>Expiration date: {{ food.date }}</div></h4>
        <div id = "item">Food Item: {{ food.foodname }}</div><br>
      {% endfor %}

    </ul>
  </body>
</html>
