#home{
  background-color: white;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/6f/c6/40/6fc6408a64c31025f9884c920487172f.jpg);
  position: absolute;
  margin-top: 25px;
  background-size: 600px;
  background-repeat: no-repeat;

}
.pages{
color: black;
padding-left: 100px;
font-size: 20px;
}

#hometitle{
  display: flex;
  font-size: 200px;
  margin-left: 750px;
  margin-top: 75px;
  position: absolute;
  justify-content: center;
  color: black;
}
.links{
  display: flex;

  /*margin-top: -150px;*/
  margin-right: -1700px;
  justify-content: center;
}

/*#hometitle{
  color: #B22222;
  display: flex;
  margin-bottom: 350px;
  border-style:double;
  height: 300px;
  width: 500px;
  margin: 300px;
  margin-left: 400px;
  padding-top: 200px;
  text-align: center;
  justify-content: center;
  border-width: 8px;
  border-color: white;
}*/
