<!DOCTYPE html>
<html id = 'home'>
  <head>
    <title> home page </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="colors.css">
    <link rel="stylesheet" href="static_content/colors.css">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="animation.js"></script>
    <div id= "hometitle" >My Fridge</div>
    <div class="links">
      <ul>
        <a class = "pages" method="get" href="/newfood">Add New Food</a>
        <a class = "pages" method="get" href="/calendar">My Calendar</a>
        <a class = "pages" href="">My Fridge</a>
      </ul>
    </div>
  </body>
