<!DOCTYPE html>
<html id = 'home_background'>
  <head>
    <meta charset="utf-8">
    <title>My Fridge</title>
    <link rel="stylesheet" href="CSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="JS.js"></script>
  </head>
  <body>
    <div id="hometitle">My Fridge</div>
    <div class="links">
      <ul>
        <a method="get" href="/newfood">Add New Food</a>
        <a href="">My Calendar</a>
        <a href="">My Fridge</a>
      </ul>
    </div>
  </body>
</html>
