<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Fridge</title>
</head>
<body>
	<div class="navCal">
			<a href="/">Home</a>
			<a href="/newfood">Add New Food</a>
			<a id = "addPage"method="get" href="/newfood">My Calendar</a>
			<a href="/myfridge">My Fridge</a>
	</div>
	<hr>
<div id = "welcomeCal">Welcome {{ username }}!</div><br>
	<ul id = "listExp">
		{% for food in food_list %}
			<div id = "eachItem">
				<div id = "date"><h4>{{ food.category }}</h4></div>
				<div id = "category">{{ food.date }}</div>
			  <div id = "item">{{ food.foodname }}</div><br>
			</div>
		{% endfor %}
		<br>
	<h3>Delete Items</h3>
		<form action="" method="post">
			{% for food in food_list %}
			<label><input type='radio' name='deletelist' value= {{food.foodname}} >{{food.foodname}}</input></label>
			{% endfor %}
		<input type="submit" value="Delete" />
	</form>
	</ul>
</body>
</html>
