<!DOCTYPE html>
<html id = "fridge" lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="resources/colors.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="resources/script.js"></script>
	<title>My Fridge</title>
</head>
<body>
  <div class="navCal">
			<div id = "welcomeCal">Welcome {{ username.email }}</div><br>
			<a href="/">Home</a>
			<a href="/newfood">Add New Food</a>
			<a method="get" href="/calendar">My Calendar</a>
			<a id = "addPage" href="/myfridge">My Fridge</a>
	</div>
	<div id="counts">Expired Food: {{username.expire}}
		<br>
		Consumed Food: {{username.consume}}
	<hr class = "white">
	<div id = "catOrganize">
	<h2 class = "headCat">Meat</h2>
	<div class = "shiftL">{% for food in food_list %}
		{% if food.category == 'Meat' %}
			<div class = "foodCat">{{food.foodname}} <div class = "hidedate"> {{food.date}}</div>
				<div class = "delete_options">
						<form action="" method="post">
							<!-- <select name='deletelist'>
							<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
							</select> -->
							<!-- {% for food in food_list %}
							<label><input type='radio' name='deletelist' value= {{food.foodname}} >{{food.foodname}}</input></label>
							{% endfor %} -->
							<input type=hidden name='deletetype' value="consume">
							<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Consumed</button>
						</form>
				</div>
				<div class = "delete_options">
						<form action="" method="post">
							<!-- <select name='deletelist'>
							<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
							</select> -->
							<input type=hidden name='deletetype' value="expire">
							<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Expired</button>
						</form>
					</div>
				</div>
		{% endif %}
	{% endfor %}</div>
	<h2 class = "headCat">Dairy</h2>
	<div class = "shiftL">{% for food in food_list %}
		{% if food.category == 'Dairy' %}
		<div class = "foodCat">{{food.foodname}} <div class = "hidedate"> {{food.date}}</div>
			<div class = "delete_options">
					<form action="" method="post">
						<!-- <select name='deletelist'>
						<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
						</select> -->
						<!-- {% for food in food_list %}
						<label><input type='radio' name='deletelist' value= {{food.foodname}} >{{food.foodname}}</input></label>
						{% endfor %} -->
						<input type=hidden name='deletetype' value="consume">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Consumed</button>
					</form>
			</div>
			<div class = "delete_options">
					<form action="" method="post">
						<!-- <select name='deletelist'>
						<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
						</select> -->
						<input type=hidden name='deletetype' value="expire">
						<button class = "btn"  type="submit" name ='deletelist' value={{food.foodname}}>Expired</button>
					</form>
				</div>
			</div>		{% endif %}
	{% endfor %}</div>
	<h2 class = "headCat">Produce</h2>
	<div class = "shiftL">{% for food in food_list %}
		{% if food.category == 'Produce' %}
		<div class = "foodCat">{{food.foodname}} <div class = "hidedate"> {{food.date}}</div>
			<div class = "delete_options">
					<form action="" method="post">

						<input type=hidden name='deletetype' value="consume">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Consumed</button>
					</form>
			</div>
			<div class = "delete_options">
					<form action="" method="post">

						<input type=hidden name='deletetype' value="expire">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Expired</button>
					</form>
				</div>
			</div>		{% endif %}
	{% endfor %}</div>
	<h2 class = "headCat">Bread</h2>
	<div class = "shiftL">{% for food in food_list %}
		{% if food.category == 'Bread' %}
		<div class = "foodCat">{{food.foodname}} <div class = "hidedate"> {{food.date}}</div>
			<div class = "delete_options">
					<form action="" method="post">
						<!-- <select name='deletelist'>
						<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
						</select> -->
						<!-- {% for food in food_list %}
						<label><input type='radio' name='deletelist' value= {{food.foodname}} >{{food.foodname}}</input></label>
						{% endfor %} -->
						<input type=hidden name='deletetype' value="consume">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Consumed</button>
					</form>
			</div>
			<div class = "delete_options">
					<form action="" method="post">
						<!-- <select name='deletelist'>
						<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
						</select> -->
						<input type=hidden name='deletetype' value="expire">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Expired</button>
					</form>
				</div>
			</div>		{% endif %}
	{% endfor %}</div>
	<h2 class = "headCat">Drinks</h2>
	<div class = "shiftL">{% for food in food_list %}
		{% if food.category == 'Drinks' %}
		<div class = "foodCat">{{food.foodname}}<div class = "hidedate"> {{food.date}}</div>
			<div class = "delete_options">
					<form action="" method="post">
						<input type=hidden name='deletetype' value="consume">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Consumed</button>
					</form>
			</div>
			<div class = "delete_options">
					<form action="" method="post">
												<input type=hidden name='deletetype' value="expire">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Expired</button>
					</form>
				</div>
			</div>		{% endif %}
	{% endfor %}</div>
	<h2 class = "headCat">Other</h2>
	<div class = "shiftL">{% for food in food_list %}
		{% if food.category == 'Other' %}
		<div class = "foodCat">{{food.foodname}}<div class = "hidedate"> {{food.date}}</div>
			<div class = "delete_options">
					<form action="" method="post">
						<!-- <select name='deletelist'>
						<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
						</select> -->
						<!-- {% for food in food_list %}
						<label><input type='radio' name='deletelist' value= {{food.foodname}} >{{food.foodname}}</input></label>
						{% endfor %} -->
						<input type=hidden name='deletetype' value="consume">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Consumed</button>
					</form>
			</div>
			<div class = "delete_options">
					<form action="" method="post">
						<!-- <select name='deletelist'>
						<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
						</select> -->
						<input type=hidden name='deletetype' value="expire">
						<button class = "btn" type="submit" name ='deletelist' value={{food.foodname}}>Expired</button>
					</form>
				</div>
			</div>		{% endif %}
	{% endfor %}</div>
	<br>
</div>

<!-- <div id="delete_bar">
	<div class = "delete_options">
		<h3>Consumed:</h3>
			<form action="" method="post">
				<select name='deletelist'>
				{% for food in food_list %}
				<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
				{% endfor %}
				</select>
				 {% for food in food_list %}
				<label><input type='radio' name='deletelist' value= {{food.foodname}} >{{food.foodname}}</input></label>
				{% endfor %} -->
				<!-- <input type="submit" value="Delete" />
			</form>
	</div>
	<div class = "delete_options">
		<h3>Expired:</h3>
			<form action="" method="post">
				<select name='deletelist'>
				{% for food in food_list %}
				<label><option  name='deletelist' value={{food.foodname}} >{{food.foodname}}</option></label>
				{% endfor %}
				</select>
				<input type="submit" value="Delete" />
			</form> --> -->
</body>
</html>
